<div class="content">
  <div class="container-fluid">
    <form action="/services/{{service.id}}/edit?_method=PATCH" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="card">
        <div class="card-body">
          <fieldset>
            <legend>Identificação</legend>
            <div class="row">
              <div class="col-lg-12">
                <div class="{{alert}}">
                  <p> {{{message}}} </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input value="{{#if message}}{{serviceOld.0.name}}{{^}}{{service.name}}{{/if}}" type="input" required class="form-control" name="name"
                    placeholder="Nome do serviço" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="icone">Ícone</label>
                  <select name="icone" id="icone" required class="form-control">
                    <option value="{{#if message}}{{serviceOld.0.icone}}{{^}}{{service.icone}}{{/if}}">{{#if message}}{{serviceOld.0.icone}}{{^}}{{service.icone}}{{/if}}</option>
                    <option value="twf-cleaning-1">Ícone 1</option>
                    <option value="twf-cleaning-2">Ícone 2</option>
                    <option value="twf-cleaning-3">Ícone 3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="posicao">Posição na plataforma</label>
                  <input value="{{#if message}}{{serviceOld.0.posicao}}{{^}}{{service.posicao}}{{/if}}" type="input" required class="form-control" name="posicao"
                    data-mask="00" placeholder="Posição do serviço na plataforma" />
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Globais</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="valor_minimo">Valor Mínimo</label>
                  <input value="{{#if message}}{{serviceOld.0.valorMinimo}}{{^}}{{service.valorMinimo}}{{/if}}" type="input" required class="form-control" name="valorMinimo"
                    data-mask="#.##0,00" data-mask-reverse="true"
                    placeholder="Valor mínimo do serviço" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="quantidade_horas">Quantidade Mínima de horas</label>
                  <input value="{{#if message}}{{serviceOld.0.quantidadeHoras}}{{^}}{{service.quantidadeHoras}}{{/if}}" type="input" required class="form-control" name="quantidadeHoras"
                     data-mask="0" placeholder="Quantidade mínima de horas" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="porcentagem">Porcentagem de Comissão</label>
                  <input value="{{#if message}}{{serviceOld.0.porcentagem}}{{^}}{{service.porcentagem}}{{/if}}" type="input" required class="form-control" name="porcentagem"
                   data-mask="00" placeholder="porcentagem de comissão no serviço" />
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Cômodos</legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_quarto">Valor por Quarto</label>
                  <input value="{{#if message}}{{serviceOld.0.valorQuarto}}{{^}}{{service.valorQuarto}}{{/if}}" type="input" required class="form-control" name="valorQuarto"
                    id="valor_quarto" data-mask="#.##0,00" data-mask-reverse="true" placeholder="Valor por quarto" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_quarto">Quantidade de Horas por quarto</label>
                  <input value="{{#if message}}{{serviceOld.0.horasQuarto}}{{^}}{{service.horasQuarto}}{{/if}}" type="input" required class="form-control" name="horasQuarto"
                    data-mask="0" placeholder="Quantidade horas por quarto" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_sala">Valor por sala</label>
                  <input value="{{#if message}}{{serviceOld.0.valorSala}}{{^}}{{service.valorSala}}{{/if}}" type="input" required class="form-control" name="valorSala"
                     data-mask="#.##0,00" data-mask-reverse="true" placeholder="Valor por sala" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_sala">Quantidade de horas por sala</label>
                  <input value="{{#if message}}{{serviceOld.0.horasSala}}{{^}}{{service.horasSala}}{{/if}}" type="input" required class="form-control" name="horasSala"
                     data-mask="0" placeholder="Quantidade horas por sala" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_banheiro">Valor por banheiro</label>
                  <input value="{{#if message}}{{serviceOld.0.valorBanheiro}}{{^}}{{service.valorBanheiro}}{{/if}}" type="input" required class="form-control" name="valorBanheiro"
                     data-mask="#.##0,00" data-mask-reverse="true"
                    placeholder="Valor por banheiro" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_banheiro">Quantidade de horas por banheiro</label>
                  <input value="{{#if message}}{{serviceOld.0.horasBanheiro}}{{^}}{{service.horasBanheiro}}{{/if}}" type="input" required class="form-control" name="horasBanheiro"
                    data-mask="0" placeholder="Quantidade horas por banheiro" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_cozinha">Valor por cozinha</label>
                  <input value="{{#if message}}{{serviceOld.0.valorCozinha}}{{^}}{{service.valorCozinha}}{{/if}}" type="input" required class="form-control" name="valorCozinha"
                    id="valor_cozinha" data-mask="#.##0,00" data-mask-reverse="true" placeholder="Valor por cozinha" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_cozinha">Quantidade de horas por cozinha</label>
                  <input value="{{#if message}}{{serviceOld.0.horasCozinha}}{{^}}{{service.horasCozinha}}{{/if}}" type="input" required class="form-control" name="horasCozinha"
                    data-mask="0" placeholder="Quantidade horas por cozinha" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_quintal">Valor por quintal</label>
                  <input value="{{#if message}}{{serviceOld.0.valorQuintal}}{{^}}{{service.valorQuintal}}{{/if}}" type="input" required class="form-control" name="valorQuintal"
                     data-mask="#.##0,00" data-mask-reverse="true" placeholder="Valor por quintal" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_quintal">Quantidade de horas por quintal</label>
                  <input value="{{#if message}}{{serviceOld.0.horasQuintal}}{{^}}{{service.horasQuintal}}{{/if}}" type="input" required class="form-control" name="horasQuintal"
                    data-mask="0"  placeholder="Quantidade horas por quintal" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="valor_outros">Valor por outros tipos de cômodos</label>
                  <input value="{{#if message}}{{serviceOld.0.valorOutros}}{{^}}{{service.valorOutros}}{{/if}}" type="input" required class="form-control" name="valorOutros"
                     data-mask="#.##0,00" data-mask-reverse="true" placeholder="Valor por outros" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="horas_outros">Quantidade de horas por outros tipos de
                    cômodos</label>
                  <input value="{{#if message}}{{serviceOld.0.horasOutros}}{{^}}{{service.horasOutros}}{{/if}}" type="input" required class="form-control" name="horasOutros"
                    data-mask="0" placeholder="Quantidade horas por outros" />
                </div>
              </div>
            </div>
          </fieldset>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  Salvar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>